.navbar{
  background : linear-gradient(0.75turn,#666580, #333240);
}
.sidebar{
  background-color: #666580
}
.main-timeline .toolbar{
  background-color: #9997BF;
  margin: 0px -12px;
}
.main-timeline{
  grid-gap: 1em;
  padding: 0px 12px;
}
.timeline{
  border-radius: 1em;
  min-height: 10em;
  background-color: #ececec;
  padding: 0.7em 1em;
  border: solid 1px grey;
  box-shadow: 5px 5px 10px #80808038;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 1.2em;
}
.timeline-name{
  grid-column:1/-1;
}
.timeline-graph{
 grid-column:1/-2; 
}
.timeline-img{
  grid-column: -2/-1
}
