body{
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 2fr 12fr;
}
.navbar{
  background : linear-gradient(0.75turn,#666580, #333240);
  grid-column: 1/-1;
}
.sidebar{
  background-color: #666580
}
.toolbar{
  background-color: #9997BF;
  margin: 0px -12px;
}
.main-timeline,.main-perso{
  grid-gap: 1em;
  padding: 0px 12px;
}
.timeline,.perso{
  border-radius: 1em;
  background-color: #ececec;
  padding: 0.7em 1em;
  border: solid 1px grey;
  box-shadow: 5px 5px 10px #80808038;
}
.timeline{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 4fr;
  min-height: 10em;
}
.perso-container{
  display: grid;
}
.perso-timestamp-name{
  position: relative;
  display: flex;
  /*! justify-content: left; */
  top: -2em;
}
.perso{
  /*! border-top: none; */
  margin-top: 1em;
}
.timestamp-title{
  border-left: solid 1px gray;
  border-bottom: solid 1px #ececec;
  border-top: solid 1px gray;
  padding: 0em 0.2em;
  border-radius: 0.2em 0.2em 0em 0em;
  transform: skew(-10deg,0deg);
  background-color: #ececec;
}